<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hzsun.zbp.hsstuportrait.dao.StuStatDAO">
    <!--数据列表三元组映射-->
    <resultMap id="SimpleTuple" type="com.hzsun.zbp.hsstuportrait.model.dto.SimpleTupleDTO">
        <result column="KEY" jdbcType="VARCHAR" property="key"></result>
        <result column="ITEM" jdbcType="VARCHAR" property="item"></result>
        <result column="VALUE" jdbcType="VARCHAR" property="value"></result>
    </resultMap>

    <!--APP学生统计头部展示映射-->
    <resultMap id="StuStatHeadDTO" type="com.hzsun.zbp.hsstuportrait.model.dto.StuStatHeadDTO">
        <!-- 学生人数 -->
        <result column="STU_NUM" jdbcType="INTEGER" property="stuNum"></result>
        <!-- 在读人数 -->
        <result column="IN_SCH_NUM" jdbcType="INTEGER" property="inSchNum"></result>
        <!-- 本科生人数 -->
        <result column="UGRD_NUM" jdbcType="INTEGER" property="ugrdNum"></result>
        <!-- 硕士人数 -->
        <result column="MASTER_NUM" jdbcType="INTEGER" property="masterNum"></result>
        <!-- 博士人数 -->
        <result column="PHD_NUM" jdbcType="INTEGER" property="phdNum"></result>
    </resultMap>

    <!--学生培养分布统计图映射-->
    <resultMap id="CultureDTO" type="com.hzsun.zbp.hsstuportrait.model.dto.CultureDTO">
        <!-- 本科生人数 -->
        <result column="UGRD_NUM" jdbcType="INTEGER" property="ugrdNum"></result>
        <!-- 硕士人数 -->
        <result column="MASTER_NUM" jdbcType="INTEGER" property="masterNum"></result>
        <!-- 博士人数 -->
        <result column="PHD_NUM" jdbcType="INTEGER" property="phdNum"></result>
        <!-- 其他类型人数 -->
        <result column="OTHER_NUM" jdbcType="INTEGER" property="otherNum"></result>
    </resultMap>

    <!--学生学院分布柱状图-->
    <select id="graphCollege" resultMap="SimpleTuple">
        select coll_name as key, stu_sex as item, sum(stu_num) as value
        from ${tableName}
        where data_date = (select data_date from ${tableName} order by data_date desc limit 1 offset 0)
        and stu_sex in ('男性','女性')
        group by key,item
        order by key,item desc
    </select>

    <!--学生年级分布折线图-->
    <select id="graphGrade" resultMap="SimpleTuple">
        SELECT KEY , ITEM, VALUE
        FROM (
            SELECT GRADE_NO AS KEY, '人数' AS ITEM, SUM(STU_NUM) AS VALUE
            FROM ${tableName}
            where data_date = (select data_date from ${tableName} order by data_date desc limit 1 offset 0)
            GROUP BY KEY ,ITEM
            ORDER BY KEY desc
            limit 5 offset 0) t
            ORDER BY KEY ASC
    </select>

    <!--学生专业分布饼状图-->
    <select id="graphMajor" resultMap="SimpleTuple">
        SELECT t1.SPEC_NAME AS KEY, t1.SPEC_NUM AS ITEM, round(100 * round(t1.SPEC_NUM/(CASE t2.COLL_NUM WHEN 0 THEN 1 ELSE t2.COLL_NUM END),4),2) AS VALUE
        FROM (SELECT SPEC_NAME , SUM(STU_NUM) SPEC_NUM
            FROM ${tableName}
            WHERE '${collName}' = COLL_NAME
            and data_date = (select data_date from ${tableName} order by data_date desc limit 1 offset 0)
            GROUP BY SPEC_NAME ) t1,
            (SELECT SUM(STU_NUM) AS COLL_NUM
            FROM ${tableName}
            WHERE '${collName}' = COLL_NAME
            and data_date = (select data_date from ${tableName} order by data_date desc limit 1 offset 0)) t2
        ORDER BY KEY
    </select>

    <!--学生班级分布柱状图-->
    <select id="graphClassInfo" resultMap="SimpleTuple">
        SELECT CLASS_NAME AS KEY, '人数' AS ITEM, SUM(STU_NUM) AS VALUE
        FROM ${tableName}
        where data_date = (select data_date from ${tableName} order by data_date desc limit 1 offset 0)
        AND COLL_NAME = '${collName}'
        AND SPEC_NAME = '${specName}'
        GROUP BY KEY,ITEM
        order by key ASC
        limit 5 offset 0
    </select>

    <!--学生省份分布统计图-->
    <select id="graphProvince" resultMap="SimpleTuple">
        SELECT t1.NATIVE_PLACE AS KEY, t1.PLACE_NUM AS ITEM, round(100 * round( t1.PLACE_NUM/(CASE t2.ALL_NUM WHEN 0 THEN 1 ELSE t2.ALL_NUM END),4),2) AS VALUE
        FROM (SELECT NATIVE_PLACE , SUM(STU_NUM) PLACE_NUM
            FROM ${tableName}
            where data_date = (select data_date from ${tableName} order by data_date desc limit 1 offset 0)
            GROUP BY NATIVE_PLACE ) t1,
            (SELECT SUM(STU_NUM) AS ALL_NUM
            FROM ${tableName}
            where data_date = (select data_date from ${tableName} order by data_date desc limit 1 offset 0)
            ) t2
        ORDER BY ITEM DESC
        limit 10 offset 0
    </select>

    <!--学生性别分布统计图-->
    <select id="graphSex" resultMap="SimpleTuple">
        SELECT STU_SEX AS KEY , SUM(STU_NUM) AS VALUE
        FROM ${tableName}
        WHERE SEX_CODE in ('1','2')
        and data_date = (select data_date from ${tableName} order by data_date desc limit 1 offset 0)
        GROUP BY KEY
        ORDER BY KEY DESC
    </select>

    <!--学生民族分布列表-->
    <select id="graphNation" resultMap="SimpleTuple">
        SELECT t1.STU_NATION AS KEY, t1.NATION_NUM AS ITEM, round(100 * round( t1.NATION_NUM/(CASE t2.ALL_NUM WHEN 0 THEN 1 ELSE t2.ALL_NUM END),4),2) AS VALUE
        FROM (SELECT STU_NATION , SUM(STU_NUM) NATION_NUM
            FROM ${tableName}
            where data_date = (select data_date from ${tableName} order by data_date desc limit 1 offset 0)
            GROUP BY STU_NATION ) t1,
        (SELECT SUM(STU_NUM) AS ALL_NUM
        FROM ${tableName}
        where data_date = (select data_date from ${tableName} order by data_date desc limit 1 offset 0)) t2
        ORDER BY ITEM DESC
    </select>

    <!--学生政治面貌统计图-->
    <select id="graphPolitics" resultMap="SimpleTuple">
        SELECT STU_POL AS KEY, sum(STU_NUM) AS ITEM,
        round( sum(STU_NUM) * 100.00/(select sum(STU_NUM) from ${tableName} where data_date = (select data_date from ${tableName} order by data_date desc limit 1 offset 0)) ,2 ) AS VALUE
        FROM ${tableName}
        where data_date = (select data_date from ${tableName} order by data_date desc limit 1 offset 0)
        GROUP BY KEY
        ORDER BY KEY desc
    </select>

    <!--获取APP学生统计头部展示-->
    <select id="getStuStatHead" resultMap="StuStatHeadDTO">
		SELECT SUM(coalesce(STU_NUM, 0)) STU_NUM, SUM(coalesce(IN_SCH_NUM, 0)) IN_SCH_NUM,
		SUM(coalesce(UGRD_NUM, 0)) UGRD_NUM,
		SUM(MASTER_NUM) MASTER_NUM,SUM(coalesce(PHD_NUM, 0)) PHD_NUM
		FROM ${tableName}
		where data_date = (select data_date from ${tableName} order by data_date desc limit 1 offset 0)
	</select>

    <!--获取学院名称-->
    <select id="listCollName" resultType="java.lang.String">
		SELECT DISTINCT COLL_NAME
		FROM ${tableName}
		where data_date = (select data_date from ${tableName} order by data_date desc limit 1 offset 0)
	</select>

    <!--获取专业名称-->
    <select id="listSpecName" resultType="java.lang.String">
		SELECT DISTINCT SPEC_NAME
		FROM ${tableName}
		WHERE '${collName}' = COLL_NAME
		and data_date = (select data_date from ${tableName} order by data_date desc limit 1 offset 0)
	</select>

    <!--获取学生培养分布统计图-->
    <select id="getCulture" resultMap="CultureDTO">
		SELECT SUM(coalesce(UGRD_NUM, 0)) UGRD_NUM,SUM(coalesce(MASTER_NUM, 0)) MASTER_NUM,
		SUM(coalesce(PHD_NUM, 0)) PHD_NUM,SUM(coalesce(OTHER_NUM, 0)) OTHER_NUMzw
		FROM ${tableName}
		where data_date = (select data_date from ${tableName} order by data_date desc limit 1 offset 0)
	</select>

    <!--获取表名-->
    <select id="getTableName" resultType="java.lang.String">
        select tablename
        from pg_tables
        where schemaname='public'
        and tablename LIKE '${prefix}%'
        order by tablename desc
        limit 1 offset 0
    </select>

</mapper>
